<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../public/partials.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

		<title>Document</title>
	</head>
	<body>
		<nav class="nav">
			<div>
				<img src="../../public/images/kosi.jpg" alt="logo" class="logo" />
			</div>
			<div class="container">
				<input type="search" /><i class="fa fa-search"></i>
			</div>
			<div>
				<ul class="nav_item">
					<li>Home</li>
					<li>Article</li>
					<li>Signup</li>
					<li>Login</li>
				</ul>
			</div>
			<a class="menu"> <i class="fa fa-bars"></i></a>
		</nav>
	</body>
</html>
