<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<div>
				<div>
					<div><h1>Kosi</h1></div>
					<ul>
						<li>Home</li>
						<li>All Article</li>
						<li>Signup</li>
						<li>Login</li>
					</ul>
				</div>
			</div>
		</header>
		<main>
			<h2>Get exciting Articles here</h2>
		</main>

		<section></section>
	</body>
</html>
