<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/signup.css" />
		<title>Document</title>
	</head>
	<body>
		<main class="signup">
			<form action="/views/signup" method="post" class="form">
				<h3>SIGN UP</h3>
				<label for="first_name">Firstname</label><br />
				<input type="text" id="first_name" name="first_name" value="" /><br />
				<label for="last_name">Lastname</label><br />
				<input
					type="last_name"
					id="last_name"
					name="last_name"
					value="" /><br /><br />
				<label for="email">Email</label><br />
				<input type="email" id="email" name="email" value="" /><br /><br />
				<label for="password">Password</label><br />
				<input
					type="password"
					id="password"
					name="password"
					value="" /><br /><br />
				<input class="submit" type="submit" value="SIGN UP" />
			</form>
		</main>
	</body>
</html>
